.not-found-heading {
    color: black;
    font-weight: 400;
  }
  
  .not-found-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  